{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home </title>
    <link href="{% static 'Style.css' %}" rel="stylesheet" />
    <div style="text-align: right; border: 2px solid black; padding: 10px; background-color: #00FFFF; ">
        <img src="{% static 'images/download.png' %}" alt="BSSS" class="home-img" />
        <a href="{% url 'index' %}" style="border: 2px solid black; padding: 5px 10px; text-decoration: none;">Teachers</a>
        <a href="{% url 'home2' %}" style="border: 2px solid black; padding: 5px 10px; text-decoration: none;">Home</a>
    </div>

    <h1 class="h1-text"> Welcome </h1>
    <h1 class="h1-text"> BSSS </h1>



    <h9 class="low">© [2026] [Aasim Hussain/Dickson College]. All rights reserved.</h9>

</head>
<body>

</body>
</html>