{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home </title>
    <link href="{% static 'Style.css' %}" rel="stylesheet" />
    <div style="text-align: right; border: 2px solid black; padding: 10px; background-color: #FFC0CB;">
        <h1 class="h1-text"> Welcome </h1>
        <h1 class="h1-text"> BSSS </h1>
        <a href="{% url 'index' %}" style="border: 2px solid black; padding: 5px 10px; text-decoration: none;">Teachers</a>
        <a href="{% url 'login' %}" style="border: 2px solid black; padding: 5px 10px; text-decoration: none;">Login</a>
    </div>

</head>
<body>
 
</body>
</html>