<html>
<head><title>Teacher</title>

       {% load static %}
       <link href="{% static 'Style.css' %}" rel="stylesheet" />

</head>

<body>

    <strong>Teachers</strong>

    {% if content %}
    <a href="{% url 'home' %}">Back to Home</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Teaching Area</th>
        </tr>
        {% for teach in content %}
        <tr>
            <td>{{teach.Name}}</td>

            <td>{{teach.Area}}</td>
        </tr>
        {% endfor %}

    </table>
    <p><a href="{% url 'input' %}">Input new Teachers</a></p>
    <table>
        <tr>
            <th>Subject</th>
            <th>Topic</th>
        </tr>
        {% for assign in content2 %}
        <tr>
            <td>{{assign.Name}}</td>


            <td>{{assign.Topic}}</td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
    <strong>No data!!</strong>
    {% endif %}
    <p><a href="{% url 'assign' %}">Input new Assessment</a></p>
</body>
</html>
