
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');



* {
    font-family: "Unica One", sans-serif;
 }
a{
    text-decoration: none;
    transition: 0.5s;
    color: red;
}

a:hover{
    color: lightblue;
    text-decoration: underline;
}

th{
    padding : 12px;
}

td{
    padding : 9px;
}

.header-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.home-link{
    float: right;
}
.h1-text {
    text-align: center;
    font-family: "Unica One", sans-serif;
    font-size: 9rem;
}


.home-login {
    border: 1px solid #cca3a3;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.H {
    margin-bottom: 10px;
}
.home-img {
    justify-content: left;
    display: flex;
    
}
.low {
    position: absolute;
    bottom:0;
    left:0;
}